textview#textbox {
    font-family: "BabelStone Han", "UniHentaiKana", "IPAmj明朝", "花園明朝A", HanaMinA, HanaMinB, "和田研中丸ゴシック2004絵文字", "WadaLabChuMaruGo2004Emoji", "和田研細丸ゴシック2004絵文字", "WadaLabMaruGo2004Emoji", "Hiragino Kaku Gothic Pro", Osaka, "Yu Gothic", Meiryo, "Source Han Sans J", "Source Han Sans JP", "Noto Sans CJK JP", "Droid Sans Japanese", "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho", mincho, sans-serif;;
    font-size: 50px;
}

label#primarylabels {
    font-family: "BabelStone Han", "UniHentaiKana", "IPAmj明朝", "花園明朝A", HanaMinA, HanaMinB, "和田研中丸ゴシック2004絵文字", "WadaLabChuMaruGo2004Emoji", "和田研細丸ゴシック2004絵文字", "WadaLabMaruGo2004Emoji", "Hiragino Kaku Gothic Pro", Osaka, "Yu Gothic", Meiryo, "Source Han Sans J", "Source Han Sans JP", "Noto Sans CJK JP", "Droid Sans Japanese", "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho", mincho, sans-serif;;
    font-size: 40px;
}

label#secondarylabels {
    font-family: "BabelStone Han", "UniHentaiKana", "IPAmj明朝", "花園明朝A", HanaMinA, HanaMinB, "和田研中丸ゴシック2004絵文字", "WadaLabChuMaruGo2004Emoji", "和田研細丸ゴシック2004絵文字", "WadaLabMaruGo2004Emoji", "Hiragino Kaku Gothic Pro", Osaka, "Yu Gothic", Meiryo, "Source Han Sans J", "Source Han Sans JP", "Noto Sans CJK JP", "Droid Sans Japanese", "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho", mincho, sans-serif;;
    font-size: 40px;
}

label#primarystartuplabel {
    font-family: "BabelStone Han", "UniHentaiKana", "IPAmj明朝", "花園明朝A", HanaMinA, HanaMinB, "和田研中丸ゴシック2004絵文字", "WadaLabChuMaruGo2004Emoji", "和田研細丸ゴシック2004絵文字", "WadaLabMaruGo2004Emoji", "Hiragino Kaku Gothic Pro", Osaka, "Yu Gothic", Meiryo, "Source Han Sans J", "Source Han Sans JP", "Noto Sans CJK JP", "Droid Sans Japanese", "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho", mincho, sans-serif;;
    font-size: 50px;
}

label#secondarystartuplabel {
    font-family: "BabelStone Han", "UniHentaiKana", "IPAmj明朝", "花園明朝A", HanaMinA, HanaMinB, "和田研中丸ゴシック2004絵文字", "WadaLabChuMaruGo2004Emoji", "和田研細丸ゴシック2004絵文字", "WadaLabMaruGo2004Emoji", "Hiragino Kaku Gothic Pro", Osaka, "Yu Gothic", Meiryo, "Source Han Sans J", "Source Han Sans JP", "Noto Sans CJK JP", "Droid Sans Japanese", "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho", mincho, sans-serif;;
    font-size: 50px;
}

#titlelabel {
    font-family: "BabelStone Han", "UniHentaiKana", "IPAmj明朝", "花園明朝A", HanaMinA, HanaMinB, "和田研中丸ゴシック2004絵文字", "WadaLabChuMaruGo2004Emoji", "和田研細丸ゴシック2004絵文字", "WadaLabMaruGo2004Emoji", "Hiragino Kaku Gothic Pro", Osaka, "Yu Gothic", Meiryo, "Source Han Sans J", "Source Han Sans JP", "Noto Sans CJK JP", "Droid Sans Japanese", "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho", mincho, sans-serif;;
}