textview#textbox {
    font-family: "BabelStone Han";
    font-size: 50px;
}

label#primarylabels {
    font-family: "BabelStone Han";
    font-size: 40px;
}

label#secondarylabels {
    font-family: "BabelStone Han";
    font-size: 40px;
}

label#primarystartuplabel {
    font-family: "BabelStone Han";
    font-size: 50px;
}

label#secondarystartuplabel {
    font-family: "BabelStone Han";
    font-size: 50px;
}

headerbar {
    font-family: "BabelStone Han";
}